#header{
    width: 80%;
    margin: 40px auto;
    background-color:rgb(211, 211, 255);
    text-align: center;
    color: rgb(63, 63, 63);
    padding: 40px;
    font-size: 20px;
    border-radius: 4px;
}

#form-main{
    width: 87%;
    margin: 0px auto 40px auto;
    background-color: rgb(211,211,255);
    
}
.container{
    width: 70%;
    margin: 0px auto;
    padding: 20px;

}

.input-width{
    width: 50%;
}